<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEV</key>
	<dict>
		<key>resourceId</key>
		<string>a807b7ab-6cad-4aa6-87d0-e283a7353a0f</string>
		<key>baseURL</key>
		<string>https://data.gov.sg/api</string>
	</dict>
	<key>PROD</key>
	<dict>
		<key>resourceId</key>
		<string>a807b7ab-6cad-4aa6-87d0-e283a7353a0f</string>
		<key>baseURL</key>
		<string>https://data.gov.sg/api</string>
	</dict>
</dict>
</plist>
